#cardiv
{
    display: none;
}
.card-body
{
    background-color: rgb(175, 168, 159);
}
body
{
    min-height: 100vh;
    background: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color : #fff !important;
}
@media (max-width:992px) {
    .container form
    {
        display: block !important;
    }
}
@media (min-width:1200px) {
    .form-check
    {
        padding: 0 13rem;
    }
}
.order-x
{
    order:-1;
}
.image-wrapper .col-12 .card
{
    margin:0 auto;
}
.image-wrapper .col-12
{
    margin-top: 16px;
}
.form-check .form-check-input
{
    margin-left: 0 !important;
}
.radiodiv > div
{
    display: inline-block;
}
